@import "fonts";
@import "reset";
@import "vars";
@import "libs";
@import "global";

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}


.header{
    padding: 19px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__burger-menu{
        display: none;
    }
    &__nav{
        display: flex;
        align-items: center;
    }
}

.logo{
    display: flex;
    color:#173A56;
    align-items: center;
    &__name{
        margin-left: 16px;
        font-weight: 700;
        font-size: 30px;
        line-height: 28px;
    }
}

.user-nav{
    &__list{
        display: flex;
        margin-right: 24px !important; //перебиваю reset
    }
    &__item{
        &+.user-nav__item{
            margin-left: 30px;
        }
        &--current{
            font-weight: 600;
        }
    }
    &__link{
        color: #22343D;
    }
    &__btn{
        font-weight: 600;
        padding: 10px 22px;
        border-radius: 5px;
        margin-right: 24px;
        &--login{
            color:#173A56;
            border:1px solid #BCD0E5;
        }
        &--register{
            color:#fff;
            background-color: #02897A;
        }
    }
    &__theme{
        border:none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: #F3F3F3;
        cursor: pointer;
    }
}

.start{
    padding: 25px 0 110px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.left-box{
    max-width: 450px;
    width: 100%;
    &__title{
        font-size: 40px;
        line-height: 60px;
        font-weight: 700;
        margin-bottom: 18px;
    }
    &__text{
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 45px;
    }
    
    &__btn{
        @extend %btn;
        padding: 15px 40px;
        margin-right: 30px;
    }
    &__video-btn{
        color:#02897A;
        font-weight: 600;
        text-decoration: underline;
        padding-left: 28px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top:50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-image: url("@img/icons/play.svg");
        }
    }
}

.product-specs{
    padding-bottom: 90px;
    position: relative;
    overflow: hidden;
    &::after{
        content: "";
        position: absolute;
        background: linear-gradient(#fff, #f0f0f0);
        border-radius: 0 0 50% 50%;
        z-index: -1;
        bottom: 0;
        left: 50%;
        margin-left: -1161px;
        width: 2323px;
        height: 543px;
    }
    &__title{
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        margin-bottom: 66px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    &__link{
        text-align: center;
    }
    &__btn{
        @extend %btn;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: 700;
        padding: 15px 32px;
    }
}

.specs-item{
    max-width: 240px;
    &__icon{
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 35%;
        background-color: red;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    &--click-icon{
        background-color: #02897A;
        background-image: url("@img/icons/cursor.svg");
    }
    &--wave-icon{
        background-color: #4D8DFF;
        background-image: url("@img/icons/wave.svg");

    }
    &--heart-icon{
        background-color: #740A76;
        background-image: url("@img/icons/heart.svg");
    }   
    &--time-icon{
        background-color: #F03E3D;
        background-image: url("@img/icons/time.svg");

    }
    &__name{
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 13px;
    }
}

.advantages{

    padding: 150px 0 120px;
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 150px;
        &:nth-child(2){
            flex-direction: row-reverse;
        }
    }
    &__wrapper{
        max-width: 486px;
    }
    &__subtitle{
        &--main{
            margin-bottom: 8px;
        }
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
    }
    &__title{
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 23px;
    }
    &__text{
        &--main{
            margin-bottom: 30px;
        }
        margin-bottom: 25px;
    }
}

.support-list{
    
    &__item{
        margin-bottom: 30px;
        display: flex;
        position: relative;
        padding-left: 65px;
        &::before{
            content: "";
            position: absolute;
            width: 35px;
            height: 35px;
            border-radius: 35%;
            margin-right: 30px;
            left: 0;
            top:50%;
            transform: translateY(-50%);
        }
        &::after{
            content:"";
            width: 16px;
            height: 12px;
            position: absolute;
            left: 10px;
            top:50%;
            transform: translateY(-50%);
            background-image: url("@img/icons/mark.svg");
        }
    }
    &__item:nth-child(1){
        &::before{
            background-color: #FF9900;
        }
    }
    &__item:nth-child(2){
        &::before{
            background-color: #F03E3D;
        }
    }&__item:nth-child(3){
        &::before{
            background-color: #4D8DFF;
        }
    }
    
    &__wrapper{
        max-width: auto;
    }
}

.experts{
    text-align: center;
    position: relative;
    padding-top: 52px;
    overflow: hidden;
    padding-bottom: 150px;
    &::after{
        content: "";
        position: absolute;
        background: linear-gradient(#f0f0f0,#fff);
        border-radius: 60% 60% 0 0;
        z-index: -1;
        top: 0;
        left: 50%;
        margin-left: -1161px;
        width: 2323px;
        height: 543px;
    }
    &__title{
        text-align: center;
        margin-bottom: 16px;
    }
    &__subtitle{
        text-align: center;
        max-width: 542px;
        margin: 0 auto;
        font-weight: 500;
        margin-bottom: 32px;
    }
    &__item{
        display: flex;
        align-items: center;
        margin-left: 16px;
        &:nth-child(2),
        &:nth-child(3){
                flex-direction: row-reverse;
                .experts__text{
                    margin-left: 0;
                    margin-right: 16px;
                }
            }
    }
    &__wrapper{
        display: grid;
        grid-column-gap: 178px;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        margin-bottom: 48px;
    }
    &__text{
        margin-left: 16px;
        background-color: #fff;
        padding: 15px 25px 20px;
        border-radius: 50px;
        font-weight: 500;
        box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
    }
    &__btn{
        @extend %btn;
        padding: 15px 30px;
        font-weight: 700;
    }
}

.strategies{
    padding-bottom: 150px;

    &__title{
        font-size: 34px;
        line-height: 51px;
        margin-bottom: 8px;
    }
    &__subtitle{
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 33px;
    }
    
}

.strategies-article{
    border:1px solid #DEDEDE;
    max-width: 348px;
    margin-right: 22px;
    border-radius:16px;
    &__info{
        display: block;
    }
    &__inner{
        padding-left: 24px;
        padding-top: 24px;
    }
    &__author{
        color:#22343D;
        font-weight: 700;
        padding-right: 8px;
        position: relative;
        &::after{
            content: "|";
            position: absolute;
            right: 0;
        }
    }
    &__title{
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        display: block;
        padding-bottom: 40px;
        color:#22343D;
    }
   
}

.swiper{
    padding-bottom: 64px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom:0;
}

.swiper-pagination-bullet{
    width: 16px;
    height: 16px;
}

.swiper-pagination-bullet-active{
    background-color: #02897A;
}

.swiper-slide-active{
    .strategies-article{
        &__title{
            color:#02897A;
        }
    }
}

.price{
    text-align: center;
    margin-bottom: 150px;
    &__title{
        font-size: 34px;
        line-height: 51px;
        margin-bottom: 8px;
    }
    &__subtitle{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 50px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 323px;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    }
    &__btn{
        @extend %btn;
        transition: all .3s;
        padding: 11px 18px;
        border-radius: 8px;
    }
}

.version{
    padding-bottom: 32px;
    transition: all .3s;
    &:hover{
        background-color: $green;
        *{
            color: #fff;
        }
        .price__btn{
            background-color: #fff;
            color: $green;
        }
        .version__cost::before{
            color:#fff;
        }
    }
    &__title{
        margin-top: 24px;
        font-size: 24px;
        line-height: 40px;
        color: #22343D;
        font-weight: 700;
        margin-bottom: 8px;
    }
    &__description{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
    }
    &__cost{
        font-size: 76px;
        line-height: 80px;
        font-weight: 700;
        margin-bottom: 16px;
        color: #02897A;
        display: inline-block;
        text-align: left;
        position: relative;
        padding-right: 104px;
        &::after{
            content: "$";
            font-size: 24px;
            right:80px;
            bottom:28px;
            line-height: 30px;
            position: absolute;
        }
        &::before{
            right:0;
            content: "Per / month";
            color:#AFAFAF;
            font-weight: 400;
            position: absolute;
            font-size: 16px;
            line-height: 19px;
            bottom:10px;
        }
    }
}

.advantages-list{
    &__item{
        font-weight: 500;
        &+.advantages-list__item{
            margin-top: 16px;
        }
    }
}

ul.advantages-list{
    margin-bottom: 38px;
}

.reviews{
    margin-bottom: 157px;
    &__title{
        font-size: 34px;
        line-height: 57px;
        margin-bottom: 8px;
        text-align: center;
    }

    &__subtitle{
        font-size: 16px;
        line-height: 28px;
        margin: 0 auto;
        margin-bottom: 50px;
        font-weight: 500;
        text-align: center;
        max-width: 537px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
    }   
}

.reviews-block{
    &__item{
        padding: 28px 26px 24px 26px;
        max-width: 327px;
        border:1px solid #DEDEDE;
        border-radius: 8px;
    }
    &__rate{
        display: flex;
        margin-bottom: 16px;
    }
    &__text{
        margin-bottom: 16px;
    }
}

.reviewer{
    display: flex;
    &__avatar{
        margin-right: 14px;
    }
    &__position{
        display: block;
    }
    &__name{
        font-weight: 600;
        color:$green;
    }
    &__position{
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }
}



.banner-block{
    max-width: 968px;
    display: flex;
    margin: 150px auto;
    justify-content: space-between; 
    background-color: $green;
    border-radius: 32px;
    &__left{
        padding-top: 49px;
        padding-left: 51px;
    }
    &__info{
        font-size: 32px;
        line-height: 48px;
        max-width: 510px;
        color: #fff;
        margin-bottom: 66px;
    }
    &__btn{
        @extend %btn;
        background-color: #fff;
        color:$green;
        padding: 13px 35px 7px;
    }
}

.footer{
     &__inner{
        display: flex;
        justify-content: space-between;
     }
     &__social-list{
        display: flex;
     }
     .logo{
        margin-bottom: 24px;
     }
     &__social-link{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #EDFFFC;
        position: relative;
        transition: all .3s;
        &+.footer__social-link{
            margin-left: 16px;
        }
        &:hover{
            background-color: $green;
        }
     }
     &__social-link:hover{
        .footer__social-icon{
             path{
                 stroke: #fff;
             }      
        }
     }
     &__social-icon{
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        &--instagram{
            top:8px;
        }
        &--facebook{
            top:9px;
        }
        &--twitter{
            top:10px;
        }
     }
     &__item-title{
        margin-bottom: 12px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
     }
     &__item-form{
        max-width: 325px;
        width: 100%;
        .footer__item-title{
            margin-bottom: 34px;
        }
    }
    &__form-input{
        width: 100%;
        padding: 9px;
        border-radius: 4px;
        border: 1px solid #BCD0E5;
        margin-bottom: 21px;
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    }
    &__form-btn{
        @extend %btn;
        padding: 8px 15px;
        border:none;
    }
    &__bottom{
        margin-top: 15px;
        text-align: center;
    }
}

.nav-list{
    &__item{
        &+.nav-list__item{
            margin-top: 12px;
        }
    }
    &__link{
        color:#22343D;
        font-size: 16px;
        line-height: 18px;
    }
}

.clients{
    padding: 100px 0 117px;
    &__title{
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        margin-bottom: 50px;
    }
    &__wrapper{
        display: flex;
        justify-content: center;
    }
    &__item{
        &+.clients__item{
            margin-left: 64px;
        }
    }
}

.reason{
    padding: 24px 0 68px;
    background-color: #F5F5F5;
    &__title{
        font-size: 34px;
        line-height: 48px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 50px;
    }
    &__icon{
        display: inline-block;
        margin-bottom: 32px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 350px;
        text-align: center;
        border: 1px solid #DEDEDE;
        border-radius: 8px;
        padding-top: 32px;
        padding-bottom: 34px;
    }
    &__item-name{
        font-size: 24px;
        line-height: 33px;
        font-weight: 700;
        margin-bottom: 16px;
    }
    &__item-text{
        padding: 0 37px;
    }
}

.work{
    padding: 101px 115px;
    &__title{
        margin-bottom: 73px;
    }
    &__step{
        display: flex;
    }
    &__contact{
        @extend %btn;
        padding: 11px 18px; 
    }
    &__btn{
        text-align: center;
    }
}

.step{
    margin-bottom: 100px;
    align-items: center;
    &:nth-child(3){
        flex-direction: row-reverse;
        .step__info-box{
            margin-right: 76px;
        }
    }
    &__info-box{
        margin-left: 89px;
    }
    &__number{
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    &__title{
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        margin-bottom: 16px;
    }
    &__description{
        max-width: 438px;
    }
    &:last-of-type{
        margin-bottom: 76px;
    }
    
}

.join{
    padding: 35px 45px;
    &__title{
        max-width: 537px;
        margin: 0 auto;
        margin-bottom: 93px;
    }
    &__categories{
        display: flex;
        justify-content: space-around;
    }
}

.category{
    text-align: center;
    &__icon{
        margin: 0 auto;
        width: 150px;
        height: 150px;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-bottom: 27px;
    }
    &__icon--business{
        background-color: #FFEFEF;
        background-image: url("@img/icons/business.svg");
    }
    &__icon--enterprise{
        background-color: #F2F6FF;
        background-image: url("@img/icons/enterprise.svg");   
    }
    &__name{
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 16px;
    }
    ul.category__specs{
        margin-bottom: 12px;
    }
    &__specs-item{
        &+.category__specs-item{
            margin-top: 8px;
        }
    }
    &__tag{
        font-weight: 500;
        color:#22343D;
    }
}

.pricing{
    padding: 50px 0 150px;
    text-align: center;
    &__section-title{
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 32px;
    }
    &__title{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 16px;
        line-height: 60px;    
    }
    &__info{
        font-weight: 500;    
        margin-bottom: 49px;
    }
}

.plan{
    background: linear-gradient(#f6f6f6, #fff);
    text-align: center;
    padding: 51px 51px;
    margin-bottom: 150px;
    &__section-name{
        text-transform: uppercase;
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    &__main-text{
        font-size: 34px;
        font-weight: 700;
        line-height: 51px;
        margin-bottom: 8px;
    }
    &__text{
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 32px;
    }
    &__contact-btn{
        @extend %btn;
        padding: 11px 18px;
    }
}

.effects{
    margin-bottom: 150px;
    &__title{
        margin-bottom: 56px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        margin-bottom: 32px;
    }
    &__side-info{
        max-width: 543px;
    }
    &__item-title{
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 23px;
        padding-left: 64px;
        position: relative;
        &::before{
            content: "";
            width: 50px;
            height: 50px;
            left: 0;
            position: absolute;
            border-radius: 50%;
            top:50%;
            transform: translateY(-50%);
            background-color: #F4F5F7;
        }
        &::after{
            content: "";
            left: 13px;
            position: absolute;
            width: 24px;
            height: 24px;
        }
    }
    &__item-title--enterpreneur{
        &::after{
           background-image: url("@img/effects-icons/1.svg");
        }
    }
    &__item-title--accountants{
        &::after{
            background-image: url("@img/effects-icons/2.svg");
        }
    }
    &__item-title--universities{
        &::after{
            background-image: url("@img/effects-icons/3.svg");
        }
    }
}

.questions{
    &__title{
        margin-bottom: 8px;
    }
    &__subtitle{
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 50px;
        text-align: center;
    }
}

.question{
    margin-bottom: 16px;
    &:not(:last-child){
        border-bottom: 1px solid #E7E7E7;
    }
    
    &__icon{
        width: 24px;
        height: 24px;
        background-color: $green;
        position: relative;
        margin-right: 16px;
        display: inline-block;
        border-radius: 50%;
        &::after{
            position: absolute;
            content: "";
            width: 12px;
            height: 2px;
            background-color: #fff;
            top:12px;
            left:6px;
            transform: translateY(-50%);
        }
        &::before{
            position: absolute;
            transition: all .3s ease;
            content: "";
            width: 12px;
            height: 2px;
            background-color: #fff;
            left:6px;
            top:11px;
            transform: rotate(90deg);
        }
    }
    &__icon--toggled{
        &::before{
            transform: none;
        }
    }
    &__text{
        display: inline;
        vertical-align:super;
        cursor: pointer;
    }
    &__answer{
        transition: all .5s ease;
        overflow: hidden;
        max-height: 0;
        padding-bottom: 5px;
    }
    &__answer--toggled{
        max-height: 1000px;
        padding: 0;
    }
}

.join-us{
    padding: 76px 0 66px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__left-box{
        max-width: 540px;
    }
    &__main-text{
        font-size: 40px;
        max-width: 420px;
        font-weight: 600;
        line-height: 60px;
        margin-bottom: 24px;
    }
    &__text{
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 24px;
    }
    &__form-wrapper{
        border:1px solid #EAEAEA;
        border-radius: 30px;
        max-width: 470px;
        margin-bottom: 24px;
    }
    &__form{
        display: flex;
        justify-content: space-between;
    }
    &__input{
        outline: none;
        border:none;
        margin-left: 27px;
        max-width: 300px;
        width: 100%;
        &::placeholder{
            color:#22343D;
        }
    }
    &__btn{
        @extend %btn;
        padding: 12px 25px;
        border:none;
        border-radius: 50px;
        margin: 8px 8px 8px 0;
    }
    &__users-imgbox{
        display: flex;
        margin-right: 10px;
    }
    &__user{
        &:not(:first-child){
            margin-left: -20px;
        }
    }
    &__users{
        display: flex;
        align-items: center;
        font-size: 14px;
        span{
            font-weight: 500;
            color: $green;
            font-family: Poppins, serif;
        }
    }
    &__img-box{
        position: relative;
    }
    &__img{
        border-radius:32px; 
        filter: drop-shadow(8px 8px 32px rgba(0, 0, 0, 0.25));
    }
    &__img--front{
        position: absolute;
        bottom: -56px;
        z-index: 5;
        right:-106px;
    }
}

.stories{
    margin-bottom: 100px;
    &__title{
        margin-bottom: 8px;
    }
    &__top-text{
        text-align: center;
        font-weight: 500;
        margin-bottom: 32px;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 31px;
        margin-bottom: 32px;
    }
    &__article{
        margin: 0;
    }
    &__more{
        text-align: center;
    }
    &__more-link{
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        padding-right: 28px;
        color:#22343D;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            right: 0;
            top:50%;
            transform: translateY(-50%);
            width: 21px;
            background-repeat: no-repeat;
            height: 21px;
            background-image: url("@img/icons/right arrow.svg");
        }
    }
}

#map{
    max-width: 871px;
    margin: 0 auto;
    width: 100%;;
    height: 323px;
    margin-bottom: 50px;
}

.contact-us{
    margin-bottom: 150px;
    &__title{
        margin-bottom: 7px;   
    }
    &__subtitle{
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        max-width: 322px;
        text-align: center;
        margin: 0 auto 65px;
    }
    &__social-list{
        justify-content: center;
    }
    &__form{
        max-width: 868px;
        padding: 50px;
        text-align: center;
        margin: 0 auto;
        border:1px solid #E8E8E8;
        border-radius: 12px;
    }
    &__form-top{
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 45px;
        color:#252B42;
    }
    &__input{
        width: 100%;
        margin-bottom: 45px;
        background-color: #F5F5F5;
        border:1px solid #E8E8E8;
        border-radius: 39px;
        padding: 13px 20px;
    }
    &__textarea{
        resize: none;
        background-color: #F5F5F5;
        border:1px solid #E8E8E8;
        width: 100%;
        padding: 23px 20px;
        height: 193px;
        margin-bottom: 45px;
    }
    &__submit-btn{
        display: block;
        @extend %btn;
        padding: 15px 54px;
        border-radius: 30px;
        border: none;
    }
}

ul.contact-us__social-list{
    margin-bottom: 55px;
}

@import "media";